@import "tailwindcss";
@plugin '@tailwindcss/typography';
@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
} */

@plugin "daisyui" {
  themes: all;
}

@utility btn-link {
  @apply px-0;
}

@utility btn {
  @apply active:-scale-[0.99];
}
@utility input {
  @apply focus:outline-none;
}

@utility input-clean {
  @apply border-none outline outline-primary/25;
}
